@media screen and (max-width: 1980px) {
	.container {
		background-color: rgb(255, 196, 0);
		width: 90%;

		.mainImage {
			border-radius: 10px;
			object-fit: cover;
		}
		
		.modalWindDivContainer {
			position: absolute;
		}
	}
}

@media screen and (max-width: 1240px) {
	.container {
		background-color: red;
	}
}
